.container {
    display: grid;
    grid-template-rows: 100px auto 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    height: 100vh;
    background-color: #00a36fb4;
    color: white;
    text-align: center;
    align-items: center;
    justify-items: center;
}
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}